* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  width: 20%;
  margin: 10% auto;
}

.display {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 15px;
  font-size: 20px;
  color: white;
  justify-content: right;
  background-color: rgb(146, 146, 148);
}

button {
  color: black;
  background: rgb(235, 234, 234);
}

.operators {
  display: flex;
  width: 100%;
  height: 30vh;
  background: rgb(235, 234, 234);
}

.digits {
  display: grid;
  grid-column-start: right;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.symbol {
  display: grid;
  width: 30%;
}

.btn0 {
  border-right: none;
  padding-left: 4rem;
}

.symbol button {
  background: orange;
}
